.o-cart-tabel {
  display: flex;
  flex-direction: column;

  &__container {
    @extend .container;
  }

  &__row {
    position: relative;
    display: flex;
    justify-content: center;
    background: #F5FFD8;
    padding: 20px 0;

    &:not(:last-child) {
      margin: 0 0 10px;

      @include sm {
        margin: 0 auto 10px;
      }
    }

    @include sm {
      width: 100%;
      max-width: 420px;
      border-radius: 15px;
    }
  }

  &__items {
    .c-quantity-field {
      @include sm {
        margin: 0 auto;
      }

      &__button,
      &__input {
        @include min-sm {
          width: 64px;
          height: 74px;
        }

        @include sm {
          margin-top: 20px;
          margin-bottom: 20px;
        }
      }
    }

    &--full {
      @include sm {
        display: none;
        width: 100%;
        justify-content: center;
      }
    }
  }

  &__cont {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include sm {
      justify-content: space-around;
      flex-wrap: wrap;
      text-align: center;
    }
  }

  &__img {
    width: 100%;
    max-width: 110px;
    object-fit: contain;
  }

  &__name {
    max-width: 360px;
    width: 100%;
    text-align: left;
    font-family: $font-roboto;
    font-weight: bold;
    font-size: 27px;
    line-height: 32px;
    color: #1275B0;
    margin: 0;

    @include md {
      max-width: 275px;
    }

    @include sm {
      padding-right: 25px;
      text-align: center;
    }

    @include xs {
      max-width: 215px;
      font-size: 22px;
      line-height: 26px;
    }
  }

  &__count {
    font-family: $font-roboto;
    font-weight: normal;
    font-size: 27px;
    line-height: 32px;
    color: #191C12;
    margin: 0;
    text-align: center;

    @include sm {
      margin: 0 auto 15px;
    }
  }

  &__price {
    font-family: $font-roboto;
    font-weight: bold;
    font-size: 27px;
    line-height: 32px;
    color: #943E01;
    margin: 0;
  }

  &__remove {
    @include btn-clear();

    cursor: pointer;

    @include sm {
      margin: 0 auto;
    }
  }

  &__icon-remove {
    width: 42px;
    height: 52px;
    object-fit: contain;
  }

  &__info {
    margin: 25px 0 80px;
  }

  &__info-cont {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    @include sm {
      flex-direction: column;
      align-items: center;
    }
  }

  &__total {
    max-width: 470px;
  }

  &__link {
    font-family: $font-roboto;
    font-weight: normal;
    font-size: 27px;
    line-height: 32px;
    text-decoration-line: underline;
    color: #191C12;

    @include sm {
      margin: 0 auto 30px;
      font-size: 20px;
      line-height: 23px;
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
  }

  &__header-row {
    display: flex;
    justify-content: space-between;
    margin: 55px 0 70px;

    @include sm {
      margin: 45px 0 30px;
    }
  }

  &__title {
    font-family: $font-amsterdam;
    font-weight: normal;
    font-size: 45px;
    line-height: 52px;
    text-transform: uppercase;
    color: #1275B0;
    margin: 0;

    @include sm {
      font-size: 30px;
      line-height: 35px;
      text-align: center;
    }
  }

  &__back {
    display: flex;
    align-items: center;
    font-family: $font-roboto;
    font-weight: normal;
    font-size: 27px;
    line-height: 32px;
    text-decoration-line: underline;
    color: #191C12;
    margin: 0;
  }

  &__back-icon {
    margin-right: 15px;
    object-fit: contain;
  }

  &__sub-title {
    font-family: $font-amsterdam;
    font-weight: normal;
    font-size: 30px;
    line-height: 40px;
    text-transform: uppercase;
    color: #191C12;
    margin: 0 0 65px;

    @include sm {
      margin: 0 0 20px;
      font-size: 20px;
      line-height: 23px;
      text-transform: uppercase;
      color: #457759;
      text-align: center;
    }
  }

  &__descriptions {
    font-family: $font-roboto;
    font-weight: normal;
    font-size: 35px;
    line-height: 41px;
    color: #1275B0;
    margin: 0 0 35px;
  }

  &__dropdawn-icon {
    position: absolute;
    top: 85px;
    right: 10px;
    width: 20px;
    height: 10px;
    object-fit: contain;
    transition: 0.3s all;

    &.is-active {
      transform: rotate(180deg);
    }

    @include min-sm {
      display: none;
    }
  }
}