.o-production-certification {
  padding: 46px 0 90px;

  @include sm {
    padding: 45px 0 100px;
  }

  &__container {
    @extend .container-small;
  } 
  
  &__list {
    display: grid;
    grid-template-columns: repeat(2, minmax(250px,1fr));
    grid-auto-rows: 20px;
    grid-gap: 30px;

    @include sm {
      grid-template-columns: repeat(1, 1fr);
      grid-auto-rows: max-content;
      grid-gap: 15px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__img {
    width: 100%;
    object-fit: contain;
    object-position: center;
    border-radius: 15px;
  }

  &__title {
    @extend .h1;

    text-align: center;
    margin: 0 auto 0;
  }

  &__sub-title {
    @extend .h3;

    text-align: center;
    margin: 60px auto 30px;

    @include sm {
      margin: 30px auto 15px;
      font-size: 20px;
      line-height: 23px;
    }
  }

  &__mane {
    font-family: $font-roboto;
    font-weight: bold;
    font-size: 25px;
    line-height: 29px;
    color: $color-black-2;
    margin: 0 0 30px;

    @include sm {
      margin: 0 0 15px;
      text-align: center;
      font-size: 18px;
      line-height: 21px;
    }
  }
}
