.o-thanks {
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-grow: 1;
  padding: 155px 0 220px;

  &__container {
    @extend .container;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__img {
    width: 110px;
    height: auto;
    object-fit: contain;
    margin: 0 auto 45px;
  }

  &__title {
    font-family: $font-roboto;
    font-weight: bold;
    font-size: 29px;
    line-height: 34px;
    color: #1275B0;
    text-align: center;
    margin: 0 auto 15px;
  }

  &__decriptions {
    font-family: $font-roboto;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #191C12;
    margin: 0 auto 45px;
  }

  &__back {
    font-family: $font-roboto;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    text-decoration-line: underline;
    color: #191C12;
    margin: 0 auto;
  }
}