html,
body {
  font-family: $font-roboto;
  font-size: 14px;
  background-color: $color-green;
  overflow-x: hidden;

  & * {
    box-sizing: border-box;
  }

  &.no-scroll-sm {
    @include sm {
      overflow: hidden;
      max-height: 100vh;
    }
  }
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;

  @include sm {
    padding: 0 10px;
  }
}

.container-small {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1060px;

  @include sm {
    padding: 0 10px;
  }
}

.row {
  margin: 0 -15px;
  @include sm {
    margin: 0;
  }
}

.h-hidden-to-md {
  @include md {
    display: none !important;
  }
}

.h-hidden-from-md {
  @include min-md {
    display: none !important;
  }
}

.h-hidden-from-sm {
  @include min-sm {
    display: none !important;
  }
}

.h-hidden-to-sm {
  @include sm {
    display: none !important;
  }
}

/* variable --screen is used in Javascript */
:root {
  --screen: xs;

  @media (min-width: 767px) {
    --screen: sm;
  }
}
