@mixin lg {
  @media (max-width: 1200px) {
    @content;
  }
}

@mixin min-lg {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin md {
  @media (max-width: 992px) {
    @content;
  }
}

@mixin min-md {
  @media (min-width: 992px) {
    @content;
  }
}

@mixin sm {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin min-sm {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin xsl {
  @media (max-width: 576px) {
    @content;
  }
}

@mixin xs {
  @media (max-width: 480px) {
    @content;
  }
}


@mixin btn-clear() {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}