/**
 * Order statuses colors
 */

$color-white:   #fff;
$color-black:   #000;
$color-black-2: #191C12;
$color-gray:    #413737;
$color-green:   #D4F0B3;
$color-green-2: #457759;
$color-green-3: #F5FFD8;
$color-blue:    #1275B0;
$color-red:     #9B5150;
$color-red-2:   #943E01;

$bg-gradient-yellow: radial-gradient(50% 50% at 50% 50%, #FFD80A 0%, #FFD80A 100%);

$font-roboto: 'Roboto', sans-serif;
