.c-bonus {
  display: flex;
  position: relative;

  &__container {
    @extend .container;
  }

  &__bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    object-fit: cover;
    object-position: 47% center;
  }

  &__cont {
    position: relative;
    z-index: 9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0 30px;

    @include sm {
      padding: 130px 0;
    }
  }

  &__before {
    position: absolute;
    left: 0;
    top: -9px;

    @include sm {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__bonus {
    font-weight: normal;
    font-size: 96px;
    line-height: 100px;
    color: $color-white;

    @include xsl {
      font-size: 68px;
      line-height: 100px;
    }
  }

  &__cart {
    padding-top: 20px;
    position: relative;
    margin: 0 70px;

    @include sm {
      padding-top: 0;
      margin: 0 -15px 50px;
      order: -1;
    }

    &::before,
    &::after
    {
      content: '';
      width: 70px;
      height: 60px;
      position: absolute;
      top: 0;
      background: url('../img/bonus-title.png');
      background-size: contain;
      background-repeat: no-repeat;

      @include sm {
        display: none;
      }
    }

    &::before {
      left: -5px;
      transform: translateX(-100%) rotateY(180deg);
    }

    &::after {
      right: -5px;
      transform: translateX(100%)
    }
  }

  &__title {
    padding: 15px 40px;
    background: $bg-gradient-yellow;
    font-weight: normal;
    font-size: 40px;
    line-height: 40px;
    color: $color-gray;
    text-align: center;
    margin: 0;

    @include sm {
      padding: 10px 15px;
    }

    @include xsl {
      font-size: 32px;
      line-height: 37px;
    }
  }
   
  &__btn-cont {
    display: flex;
    justify-content: center;
    margin-top: 25px;

    @include sm {
      margin-top: 42px;
    }
  }

  &__btn {
    background: rgba(255, 255, 255, 0.2);
    mix-blend-mode: normal;
    border: 3px solid $color-white;
    box-sizing: border-box;
    border-radius: 30px;
    padding: 15px 75px;
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    color: $color-white;
    text-decoration: none;
    color: pointer;
    transition: 0.3s all;

    @include xsl {
      padding: 12px 30px;
      font-size: 18px;
      line-height: 21px;
    }

    &:hover {
      background: rgba(255, 255, 255, 0.4);
    }
  }
}