.c-certificates {
  display: flex;
  flex-direction: column;
  position: relative;

 &__cont {
  @include min-sm {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px; 
  }

  @include min-md {
    grid-template-columns: repeat(3, 1fr);
  }
 }

 [class*="-next"],
 [class*="-prev"] {
    top: 100%;
    margin-top: 40px;
    width: 145px;
    height: 40px;
    border-radius: 25px;
    border: 1px solid $color-green-2;
    cursor: pointer;

    &:before {
      position: absolute;
      width: 20px;
      height: 20px;
      color: transparent;
      background: url('../img/svg/slider-arrow.svg') no-repeat;
      background-size: contain;
      opacity: 1;
      transition: 0.3s all;
    }
 }

 [class*="-next"] {
  right: 0;

  &:before {
    transform: rotate(180deg) translate(50%, 50%);
  }

  &:hover::before {
    margin-left: 10px;
  }
 }

 [class*="-prev"] {
  left: 0;

  &:before {
    transform: translate(-50%, -50%);
  }

  &:hover::before {
    margin-left: -10px;
  }
 }
}