.c-product {
  display: flex;
  padding: 15px 0 23px;
  width: 100%;
  max-width: 370px;

  &__cont {
    position: relative;
    width: 100%;
    display: flex;
    padding: 20px;
    background: $color-green-3;
    border: 2px solid $color-green-2;
    border-radius: 15px;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;

    @include sm {
      padding: 15px;
    }

    // @include xsl {
  }

  &__have {
    position: absolute;
    top: 0;
    left: -2px;
    transform: translateY(-100%);
    background: $color-green-3;
    border-top: 2px solid $color-green-2;
    border-left: 2px solid $color-green-2;
    border-right: 2px solid $color-green-2;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    padding: 0 15px;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: $color-green-2;

    &--not {
      color: $color-red;
      text-decoration: line-through;
    }
  }

  &__img-cont {
    width: 85px;
    margin-right: 15px;
  }

  &__img {
    max-width: 100%;
    width: 100%;
    object-fit: contain;
  }

  &__column {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &__title {
    @extend .h6;

    margin-bottom: 10px;
    width: 100%;
    max-width: 180px;

    @include xsl {
      font-size: 13px;
      line-height: 15px;
    }
  }

  &__description {
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: $color-black;
    margin-bottom: 12px;
    width: 100%;
    max-width: 180px;

    @include xsl {
      margin-bottom: 10px;
      font-size: 11px;
      line-height: 13px;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__more {
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-decoration-line: underline;
    color: $color-blue;
    cursor: pointer;

    @include xsl {
      font-size: 10px;
      line-height: 12px;
    }
  }

  &__price {
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    color: $color-red-2;
    margin: 0;

    @include xsl {
      font-size: 13px;
      line-height: 15px;
    }
  }

  &__cart {
    @include btn-clear();

    position: absolute;
    right: -2px;
    bottom: 0;
    transform: translateY(50%);
    background: $color-green-2;
    border-radius: 35px;
    padding: 10px 40px;
    cursor: pointer;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    color: $color-white;

    @include xsl {
      font-weight: 500;
      font-size: 18px;
      line-height: 21px;
    }
  }
}