.c-total {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  width: 100%;

  @include sm {
    min-width: 300px;
  }

  &__price {
    margin: 0 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-family: $font-roboto;
    font-weight: normal;
    font-size: 27px;
    line-height: 32px;
    color: #191C12;

    @include sm {
      flex-direction: column;
      font-size: 20px;
      line-height: 23px;
    }

    span:not(:last-child) {
      @include sm {
        margin: 0 auto 15px;
      }
    }

    strong {
      font-weight: bold;
      font-size: 43px;
      line-height: 50px;

      @include sm {
        font-size: 36px;
        line-height: 42px;
      }
    }
  }

  &__warning {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0 40px;

    @include sm {
      flex-direction: column;
      margin: 15px 0 30px;
    }
  }

  &__icon-remove {
    width: 50px;
    height: 50%;
    object-fit: contain;
    margin: 0 15px 0 0;

    @include sm {
      margin: 0 auto 15px;
    }
  }

  &__warning-text {
    font-family: $font-roboto;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #191C12;
    margin: 0;

    @include sm {
      text-align: center;
      font-size: 13px;
      line-height: 15px;
      max-width: 265px;
    }
  }
    
  &__btn {
    @include btn-clear();

    background: #457759;
    border-radius: 30px;
    padding: 13px 15px;
    text-align: center;
    font-family: $font-roboto;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #FFFFFF;

    @include sm {
      font-size: 18px;
      line-height: 21px;
    }
  }
}