<div class="c-certificates">
    <h3 class="c-certificates__title">Надіслати повідомлення</h3>
    <div class="c-certificates__cont"
      data-slick-mobail
      data-slick='{
      "responsive": [{
        "breakpoint": 767,
        "settings": {
          "slidesToShow": 1, 
          "slidesToScroll": 1
        }
      }]}'  
    >
      <div>
        <img class="c-product__img" src="{{ "img/certificates.jpg" | absURL }}" alt="product"/>
      </div>
      <div>
        <img class="c-product__img" src="{{ "img/certificates.jpg" | absURL }}" alt="product"/>
      </div>
      <div>
        <img class="c-product__img" src="{{ "img/certificates.jpg" | absURL }}" alt="product"/>
      </div>
    </div>
</div>