<form class="c-form-simple">
    <h3 class="c-form-simple__title">Надіслати повідомлення</h3>
    <label class="c-form-simple__label">
      <input class="c-form-simple__input" type="text" placeholder="Ваше ім’я" required>
    </label>
    <label class="c-form-simple__label">
      <input class="c-form-simple__input" type="text" placeholder="Ваш номер телефону" required>
    </label>
    <label class="c-form-simple__label">
      <textarea class="c-form-simple__input c-form-simple__textarea" type="text" placeholder="Ваше повідомлення" required></textarea>
    </label>
    <label class="c-form-simple__label-file" form="file">
        Прикріпити файл
        <input class="c-form-simple__input-file" type="file" name="file" placeholder="Прикріпити файл">
    </label>
    <input class="c-form-simple__btn" type="submit" value="Надіслати">
</form>