<div class="c-quantity-field {{ .class }}" data-quantity-field>
  <button
    class=" c-quantity-field__button"
    type="button"
    data-quantity-field-btn="decrement"
  >
    -
  </button>
  <input class="c-quantity-field__input"
         data-quantity-field-input
         type="text"
         value="3"
         min="0"
         max="22"
         readonly
  />
  <button
    class="c-quantity-field__button"
    type="button"
    data-quantity-field-btn="increment"
  >
    +
  </button>
</div>
