<div class="c-total {{ .class }}" >
  <p class="c-total__price">
    <span>Доставка:</span>
    <span>30.00 грн</span>
  </p>
  <p class="c-total__price">
    <span>Загальна сума:</span>
    <strong>1399.94 грн</strong>
  </p>
  <div class="c-total__warning">
    <img class="c-total__icon-remove" src="{{ "img/svg/warning.svg" | absURL }}" alt="cart__remove"/>
    <p class="c-total__warning-text">Для отримання безкоштовної доставки залишилось купити ще товарів на 201 грн</p>
  </div>
  <button class="c-total__btn" type="submit">Оформити замовлення</button>
</div>
