<!DOCTYPE html>
<html lang="en">
  {{ partial "head.html" . }}
  <body>
  {{ block "header" . }}{{ partial "header.html" . }}{{ end }} 
  <section class="o-page-404">
    <div class="o-page-404__container"> 
        <div class="o-page-404__cont">
          <h1 class="o-page-404__title">404</h1>
          <p class="o-page-404__decription">Нажаль сторінка <a href="/">назва сторінки</a> не знайдена.
            Можливо Ви неправильно ввели адресу сторінки,
            або ж такої сторінки не існує.
          </p>
        </div>
      </div>
  </section> 
  {{ partial "footer.html" . }}
  </body>
</html>

