<div class="o-tabs">
  <div class="o-tabs__container">
    <div class="o-tabs__cont">
      <div class="o-tabs__items">Косметика по догляду</div>
      <div class="o-tabs__items">БАДи</div>
      <div class="o-tabs__items">Декоративна косметика</div>
      <button class="o-tabs__btn-arrow">
        <span class="o-tabs__icon c-social__icon"
                style="
                mask-image: url('{{ "img/svg/arrow-down.svg" | absURL }}');
                -webkit-mask-image: url('{{ "img/svg/arrow-down.svg" | absURL }}');
                mask-size: contain;
                -webkit-mask-size: contain;
                -webkit-mask-repeat: no-repeat;
                mask-repeat: no-repeat;
                "
          ></span>
      </button>
    </div>

    <div class="o-tabs__view">
      <div class="o-cart"> 
        <div class="o-cart__cont">
            <div class="c-short-cart">
                <div class="c-short-cart__img-cont">
                  <img class="c-short-cart__img" src="{{ .Params.img | absURL }}" alt="bonus"/>
                </div>
                <h2 class="c-short-cart__title">{{ .Params.title }}</h2>
                <div class="c-short-cart__right">
                  <p class="c-short-cart__decription">
                    {{ .Params.decription | markdownify }}
                  </p>
                  <p class="c-short-cart__have {{- if not .Params.have -}} {{ " c-short-cart__have--not" }}  {{- end -}}">в наявності</p>
                  <p class="c-short-cart__price">{{ .Params.price }}</p>
                  <button class="c-short-cart__btn">Додати в кошик</button>
                </div>
            </div>
            <div class="c-cart-content o-cart__content">
              {{ .Params.content | markdownify }}
              {{ partial "component/certificates" (dict "Params" .) . }} 
            </div>
        </div> 
      </div>
    </div>
    <div class="o-tabs__view">
      2
    </div>
    <div class="o-tabs__view">
      3
    </div>
  </div>
</div>
 