<section class="o-contact">
    <div class="o-contact__container"> 
        <div class="o-contact__cont">
            <div class="o-contact__column">
                <div class="o-contact__info">
                    <h3 class="o-contact__title">Наші телефони:</h3>
                    <a class="o-contact__link" href="tel:(044) 228-33-28">(044) 228-33-28</a>
                    <a class="o-contact__link" href="tel:(044) 228-33-28">(044) 228-33-28</a>
                </div>
                <div class="o-contact__info">
                    <h3 class="o-contact__title">Наша пошта:</h3>
                    <a class="o-contact__link" href="mailto:nspinfo@i.ua">nspinfo@i.ua</a>
                </div>
                <div class="o-contact__info">
                    <h3 class="o-contact__title">Ми в соцмережах:</h3>
                    <div class="c-social o-contact__social">
                        <a class="c-social__link" href="#">
                          <div class="c-social__icon"
                          style="
                          mask-image: url('{{ "img/svg/telegram.svg" | absURL }}');
                          -webkit-mask-image: url('{{ "img/svg/telegram.svg" | absURL }}');
                          mask-size: contain;
                          -webkit-mask-size: contain;
                          -webkit-mask-repeat: no-repeat;
                          mask-repeat: no-repeat;
                          "
                          ></div>
                        </a>
                        <a class="c-social__link" href="#">
                          <div class="c-social__icon"
                          style="
                          mask-image: url('{{ "img/svg/viber.svg" | absURL }}');
                          -webkit-mask-image: url('{{ "img/svg/viber.svg" | absURL }}');
                          mask-size: contain;
                          -webkit-mask-size: contain;
                          -webkit-mask-repeat: no-repeat;
                          mask-repeat: no-repeat;
                          "
                          ></div>
                        </a> 
                        <a class="c-social__link" href="#">
                          <div class="c-social__icon"
                          style="
                          mask-image: url('{{ "img/svg/facebook.svg" | absURL }}');
                          -webkit-mask-image: url('{{ "img/svg/facebook.svg" | absURL }}');
                          mask-size: contain;
                          -webkit-mask-size: contain;
                          -webkit-mask-repeat: no-repeat;
                          mask-repeat: no-repeat;
                          "
                          ></div>
                        </a> 
                        <a class="c-social__link" href="#">
                          <div class="c-social__icon"
                          style="
                          mask-image: url('{{ "img/svg/instagram.svg" | absURL }}');
                          -webkit-mask-image: url('{{ "img/svg/instagram.svg" | absURL }}');
                          mask-size: contain;
                          -webkit-mask-size: contain;
                          -webkit-mask-repeat: no-repeat;
                          mask-repeat: no-repeat;
                          "
                          ></div>
                        </a> 
                      </div>
                </div>
            </div>
            <div class="o-contact__column o-contact__form">
              <form class="c-form-simple">
                <h3 class="c-form-simple__title">Надіслати повідомлення</h3>
                <label class="c-form-simple__label">
                  <input class="c-form-simple__input" type="text" placeholder="Ваше ім’я" required="">
                </label>
                <label class="c-form-simple__label">
                  <input class="c-form-simple__input" type="email" placeholder="Ваш email" required="">
                </label>
                <label class="c-form-simple__label">
                  <input class="c-form-simple__input" type="text" placeholder="Ваш номер телефону" required="">
                </label>
                <label class="c-form-simple__label">
                  <textarea class="c-form-simple__input c-form-simple__textarea" type="text" placeholder="Ваше повідомлення" required=""></textarea>
                </label>
                <label class="c-form-simple__label-file" form="file">
                    Прикріпити файл
                    <input class="c-form-simple__input-file" type="file" name="file" placeholder="Прикріпити файл">
                </label>
                <input class="c-form-simple__btn" type="submit" value="Надіслати">
              </form>
            </div>
        </div> 
     </div>
</section>