<section class="o-cosmetic">
    <div class="o-cosmetic__container">
        <div class="o-cosmetic__row">
            <div class="c-cosmetic-cart">
                <h2 class="c-cosmetic-cart__title">Косметика по догляду</h2>
                <img class="c-cosmetic-cart__img" src="{{ "img/cosmetic.png" | absURL }}" alt="cosmetic"/>
            </div>
            <div class="c-cosmetic-cart">
                <h2 class="c-cosmetic-cart__title">Біологічно активні добавки</h2>
                <img class="c-cosmetic-cart__img" src="{{ "img/cosmetic.png" | absURL }}" alt="cosmetic"/>
            </div>
            <div class="c-cosmetic-cart">
                <h2 class="c-cosmetic-cart__title">Декоративна косметика</h2>
                <img class="c-cosmetic-cart__img" src="{{ "img/cosmetic1.png" | absURL }}" alt="cosmetic"/>
            </div>
        </div>
         
    </div>
</section> 
 