<section class="o-diagnostics">
    <div class="o-diagnostics__container">
        <div class="o-diagnostics__row">
            <div class="c-diagnostics-cart">
                <div class="c-diagnostics-cart__line">
                    <div class="c-diagnostics-cart__content">
                        <h2 class="c-diagnostics-cart__title">Косметика по догляду</h2>
                        <p class="c-diagnostics-cart__text">Оберон — точність без компромісів</p>
                    </div>
                    <img class="c-diagnostics-cart__img" src="{{ "img/diagnostics.png" | absURL }}" alt="diagnostics"/>
                </div>
                <div class="c-diagnostics-cart__hover">
                    <div class="c-diagnostics-cart__content">
                        <h2 class="c-diagnostics-cart__title">Косметика по догляду</h2>
                        <p class="c-diagnostics-cart__text">Оберон — точність без компромісів</p>
                    </div>
                    <a class="c-diagnostics-cart__btn" href="">Детальніше</a>
                </div>
            </div>
            <div class="c-diagnostics-cart">
                <div class="c-diagnostics-cart__line">
                    <div class="c-diagnostics-cart__content">
                        <h2 class="c-diagnostics-cart__title">Косметика по догляду</h2>
                        <p class="c-diagnostics-cart__text">Оберон — точність без компромісів</p>
                    </div>
                    <img class="c-diagnostics-cart__img" src="{{ "img/diagnostics.png" | absURL }}" alt="diagnostics"/>
                </div>
                <div class="c-diagnostics-cart__hover">
                    <div class="c-diagnostics-cart__content">
                        <h2 class="c-diagnostics-cart__title">Косметика по догляду</h2>
                        <p class="c-diagnostics-cart__text">Оберон — точність без компромісів</p>
                    </div>
                    <a class="c-diagnostics-cart__btn" href="">Детальніше</a>
                </div>
            </div>
        </div>
    </div>
</section> 
 