<section class="o-production-certification">
    <div class="o-production-certification__container">
        <h1 class="o-production-certification__title">Сертифікація виробництва</h1>
        {{- with .Params.list -}} 
            <div class="o-production-certification__cont">
                {{- range . -}} 
                    <h3 class="o-production-certification__sub-title">{{ .title }}</h3>
                    {{- with .items -}} 
                        <div class="o-production-certification__list" data-grid>
                            {{- range . -}} 
                            <div class="o-production-certification__item" data-grid-item>
                              <div class="o-production-certification__content" data-grid-content>
                                  <p class="o-production-certification__mane">{{ .name }}</p>
                                  <img class="o-production-certification__img" src="{{ .img | absURL }}" alt="img" >
                              </div>
                            </div>
                            {{- end -}}
                      </div>
                     {{- end -}}
                {{- end -}}
            </div>
        {{- end -}}
    </div>
</section> 