<div class="o-scheme">
    <div class="o-scheme__container">
        <div class="o-scheme__cont">
            <header class="o-scheme__header">
                <div class="o-scheme__item o-scheme__bad">
                    <p class="o-scheme__title">БАД</p>
                </div>
                <div class="o-scheme__item o-scheme__reception">
                    <p class="o-scheme__title">Прийом БАД</p>
                </div>
                <div class="o-scheme__item o-scheme__goal">
                    <p class="o-scheme__title">Мета прийому БАД</p>
                </div>
                <div class="o-scheme__item o-scheme__actions">
                    <p class="o-scheme__title">У кошик</p>
                </div>
            </header>
            <div class="o-scheme__row">
                <div class="o-scheme__item o-scheme__bad">
                    <h4 class="o-scheme__name">Хлорофіл рідкий (Chlorophyll liquid)</h4>
                    <img class="o-scheme__img" src="{{ "img/product.png" | absURL }}" alt="scheme-product"/>
                </div>
                <div class="o-scheme__item o-scheme__reception" data-dropdawn-wrap>
                    <div class="o-scheme__dropdawn" data-dropdawn>Прийом БАД
                        <img src="{{ "img/svg/arrow-down-white.svg" | absURL }}" alt="arrow">    
                    </div>
                    <p class="o-scheme__text" data-show>2к. 1-2р. после еды, 1-2р. в неделю</p>
                </div>
                <div class="o-scheme__item o-scheme__goal" data-dropdawn-wrap>
                    <div class="o-scheme__dropdawn" data-dropdawn>Мета прийому БАД
                        <img src="{{ "img/svg/arrow-down-white.svg" | absURL }}" alt="arrow"> 
                    </div>
                    <p class="o-scheme__text" data-show>Підтримує імунну систему організму, підвищує життєвий тонус</p>
                </div>
                <div class="o-scheme__item o-scheme__actions">
                    <button class="o-scheme__btn">У кошик</button>
                    {{ partial "component/quantity-field" (dict "class" "" "Params" .) . }}
                </div>
            </div>
            <div class="o-scheme__row">
                <div class="o-scheme__item o-scheme__bad">
                    <h4 class="o-scheme__name">Хлорофіл рідкий (Chlorophyll liquid)</h4>
                    <img class="o-scheme__img" src="{{ "img/product.png" | absURL }}" alt="scheme-product"/>
                </div>
                <div class="o-scheme__item o-scheme__reception" data-dropdawn-wrap>
                    <div class="o-scheme__dropdawn" data-dropdawn>Прийом БАД 
                        <img src="{{ "img/svg/arrow-down-white.svg" | absURL }}" alt="arrow">    
                    </div>
                    <p class="o-scheme__text" data-show>2к. 1-2р. после еды, 1-2р. в неделю</p>
                </div>
                <div class="o-scheme__item o-scheme__goal" data-dropdawn-wrap>
                    <div class="o-scheme__dropdawn" data-dropdawn>Мета прийому БАД
                        <img src="{{ "img/svg/arrow-down-white.svg" | absURL }}" alt="arrow"> 
                    </div>
                    <p class="o-scheme__text" data-show>Підтримує імунну систему організму, підвищує життєвий тонус</p>
                </div>
                <div class="o-scheme__item o-scheme__actions">
                    <button class="o-scheme__btn">У кошик</button>
                    {{ partial "component/quantity-field" (dict "class" "" "Params" .) . }}
                </div>
            </div>
            <div class="o-scheme__row">
                <div class="o-scheme__item o-scheme__bad">
                    <h4 class="o-scheme__name">Хлорофіл рідкий (Chlorophyll liquid)</h4>
                    <img class="o-scheme__img" src="{{ "img/product.png" | absURL }}" alt="scheme-product"/>
                </div>
                <div class="o-scheme__item o-scheme__reception" data-dropdawn-wrap>
                    <div class="o-scheme__dropdawn" data-dropdawn>Прийом БАД 
                        <img src="{{ "img/svg/arrow-down-white.svg" | absURL }}" alt="arrow">    
                    </div>
                    <p class="o-scheme__text" data-show>2к. 1-2р. после еды, 1-2р. в неделю</p>
                </div>
                <div class="o-scheme__item o-scheme__goal" data-dropdawn-wrap>
                    <div class="o-scheme__dropdawn" data-dropdawn>Мета прийому БАД
                        <img src="{{ "img/svg/arrow-down-white.svg" | absURL }}" alt="arrow"> 
                    </div>
                    <p class="o-scheme__text" data-show>Підтримує імунну систему організму, підвищує життєвий тонус</p>
                </div>
                <div class="o-scheme__item o-scheme__actions">
                    <button class="o-scheme__btn">У кошик</button>
                    {{ partial "component/quantity-field" (dict "class" "" "Params" .) . }}
                </div>
            </div>
        </div>
    </div>
</div>